/* animations */
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes transform {
  0% {
    top: -5%;
  }
  100% {
    top: 5%;
  }
}
/* reset */
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  box-sizing: border-box;
  padding: 0.4rem;
}
::selection {
  color: black;
}

/* container */
.todo-container {
  position: relative;
  width: 100%;
  height: 96vh;
  text-align: center;
  background-image: linear-gradient(
    110deg,
    rgba(125, 149, 117, 0.1),
    rgba(207, 218, 200, 0.9)
  );

  border: 1rem;
}

/* input */
.input {
  font-size: 1rem;
  color: #7c9473;
  outline: none;
  border: 0;
  border-bottom: 2px solid #7c9473;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  font-family: inherit;
  font-weight: 600;
  margin: 0 1rem 1rem 0;
}
.input-wrapper {
  position: relative;
  width: 100%;
  top: 15%;
  margin-bottom: 1.2rem;
}
::-webkit-input-placeholder {
  font-size: 0.8rem;
  color: #cfdac8;
  font-weight: 800;
}

/* updation */
.update-wrapper {
  position: absolute;
  height: 80vh;
  width: 80vw;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(207, 218, 200, 0.822);
  border-radius: 1rem;
  text-align: center;
}

.update {
  position: relative;
  top: 40%;
  display: inline-block;
}

/* flash Messages */
.flash-message {
  animation: transform 0.5s;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #30475e;
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 800;
}

/* Heading */
.heading-primary {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  color: #295939;
}

/* List */

.todoList-wrapper {
  animation: opacity 0.4s ease-out;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  top: 15%;
  margin-bottom: 1.2rem;
}
.todo-item {
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1.5rem;
  color: #295939;
}

/* button code */
.update-btn,
.add-btn,
.complete-btn,
.delete-btn {
  font-family: inherit;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border-radius: 3px;
  outline: none;
  border: none;
  font-weight: 800;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.update-btn:hover,
.add-btn:hover,
.complete-btn:hover,
.delete-btn:hover {
  transform: scale(1.04);
}
.add-btn {
  background-color: #cfdac8;
  color: #7c9473;
  border: 1px solid #7c9473;
}
.update-btn {
  background-color: #ffeebb;
  color: #f1aa9b;
  margin-right: 1.5rem;
  border: 1px solid #f1aa9b;
}
.complete-btn {
  background-color: #d6efc7;
  color: #96bb7c;
  margin-right: 1.5rem;
  border: 1px solid #96bb7c;
}
.delete-btn {
  background-color: #fff5c0;
  color: #ff4646;
  border: 1px solid #ff4646;
}
